*.swp
*.*~
project.lock.json
.DS_Store
*.pyc

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/

# Compiled Source
*.com
*.class
*.dll
*.exe
*.o
*.so



# Terraform

# Local .terraform directories
**/.terraform/*

.terraform
terraform.tfvars
*.tfvars
*.tfstate
*.tfstate.*


# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json


# Crash log files
crash.log
crash.*.log


# Ignore CLI configuration files
.terraformrc
terraform.rc